# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/public/js
/public/css
/dist
/docs

# dependencies
/node_modules
/bower_components

# misc
npm-debug.log

# executables
/tests/e2e/bin